# Environment
.env
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# self tests
test/

# OS specific
.DS_Store
Thumbs.db

# frontend trash
frontend/node_modules/*
frontend/build/*
frontend/package-lock.json