# Environment & secrets
.env
*.local

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Go build artifacts
*.exe
*.test
*.out

# Logs
*.log
logs/

# Optional for any self tests
test/

# OS-specific files
.DS_Store
Thumbs.db

# Node/React
frontend/node_modules/*
frontend/build/*
frontend/package-lock.json
npm-debug.log
yarn-error.log

# Others
dist/
.tmp/
